.messenger {
  height: calc(100vh - 70px);
  display: flex;
  margin: 1rem 4rem 2rem 4rem;
  /* margin-top: 4rem; */
}
.messenger>* {
  margin: 1rem;
}

.chatMenu {
  flex: 3.5;
  border: 3px solid #F3F3F3;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 10px;
  border: none;
  border: 1px solid gray;
  text-align: center;
  border-radius: 2rem;
  margin-left: 1rem;
}

.chatBox {
  flex: 5.5;
  border: 3px solid #F3F3F3;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 85%;
  height: 90px;
  padding: 20px;
  border: 2px solid #f3f3f3;
  border-radius: 2rem;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
  
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}
