.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.inner-container>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.c_p_btn{
    margin-top: 1rem;
}