.row {
    margin: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.college-image {
    width: 40rem;
    height: auto;
    display: flex;
    justify-content: center;
    margin-right: 3rem;
}
.login-form {
    width: 40rem;
    height: auto;
    padding: 0.5rem;
    padding-top: 0;
    border: 1px solid black;
    border-radius: 1rem;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}
.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}
.srgi-logo {
    width: 8em;
    height: 8em;
    margin: 1em 0em 0em 1em;
}
.forget_password {
    color: blue;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.login_button {
    margin-top: 1rem;
}
.more_ {
    margin-top: 0.5em;
    cursor: pointer;
}
.blue {
    color: blue;
}

@media screen and (max-width: 1000px){
    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.8em;
        align-items: center;
    }
    .login-form {
        margin-top: 1rem;
    }
}